body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: dodgerblue;
    font: verdana;
    margin-left: 20px;
    text-align: center;
}

P {
  font-size: 15;
  font: verdana;
  margin-left: 315px;
  text-align: left;
}

input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;

}
